button {
    width: 100px;
    border-radius: 100%;
    height: 100px;
    box-shadow: white;
}

.black {
    background-color: #1b2a49; 
    color: white;
}

.yellow {
    background-color: #fe6845; 
    color: white;
}

.red {
    background-color: #801336; 
    color: white;
}

.wrapper-calculatrice {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 21%;
}
